.table{
    text-align: center;
}

.disabled:hover {
    cursor:not-allowed;
}

.bg-vert-clair {
    background-color: #00C8AD
}

.bg-vert-fonce {
    background-color: #003D2C
}

.btn-vert-clair{
    color: #fff;
    background-color: #00C8AD;
    border-color: #00C8AD;
}

.btn-vert-fonce{
    color: #fff;
    background-color: #003D2C;
    border-color: #003D2C;
}

.circle {
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background-color: #00C8AD;
    border: 1px solid #003D2C;
}