body {
    background-image: url('back.jpg');
    background-size: 1920px;
    background-color: #031727;
}

ley {
    top: 231px;
    left: 1046px;
    width: 102px;
    height: 129px;
    font: normal normal normal 100px/150px Roboto;
    text-transform: capitalize;
    opacity: 1;
}

lbank {
    top: 185px;
    left: 1148px;
    width: 366px;
    height: 146px;
    text-align: center;
    font: normal normal normal 100px/150px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
}

input[type="text"]{
    top: 540px;
left: 1141px;
width: 278px;
height: 45px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}

input[type="email"]{
width: 278px;
height: 45px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}

teet{
top: 544px;
left: 1165px;
width: 231px;
height: 33px;
text-align: left;
font: normal normal normal 25px/33px Segoe UI;
letter-spacing: 0px;
color: #000000;
opacity: 0.27;}

input[type="password"]{
    top: 628px;
    left: 1141px;
    width: 278px;
    height: 45px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}


input[type="submit"]{
    top: 740px;
left: 1289px;
width: 188px;
height: 48px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 8px;
opacity: 1;
}



inscri {
top: 748px;
left: 1084px;
width: 181px;
height: 33px;
text-align: center;
font: normal normal bold 25px/33px Segoe UI;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: capitalize;
opacity: 1;}

