.table{
    text-align: center;
}

.disabled:hover {
    cursor:not-allowed;
}

.bg-vert-clair {
    background-color: #00C8AD
}

.bg-vert-clair2 {
    background-color: #3ACBC6
}

.bg-rouge {
    background-color: #FF7490;
}

.btn-vert-clair{
    color: #fff;
    background-color: #00C8AD;
    border-color: #00C8AD;
}

.btn-vert-fonce{
    color: #fff;
    background-color: #126872;
    border-color: #126872;
}

.circle {
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background-color: #00C8AD;
    border: 1px solid #003D2C;
}

.small-circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: #00C8AD;
    border: 1px solid #003D2C;
}