<!DOCTYPE html>
html>
		<head>
			<link type="text/css" rel="stylesheet" href="dashboard.css"/>
			<meta charset="utf-8" />
			<title>Connexion chacal</title>
		</head>
		<body>
		<sc><p><div class="rectangle">

			<form action="connexion.py", method="post">
			<h1><b><p> Se connecter </p></b></h1>
			<p><img src="profil.jpg" height="80px" weight="80px" /></p><br><br>
				Identifiant:<br>
				<input type="text" name="username" required pattern="{3-8}" autocomplete="on"
				title="L'identifiant entre 3 et 8 caractères (on peut mettre Salope pour Seb)"><br><br>
				Mot de passe:<br>
				<input type="password" name="mdp" ><br>

			<input type="submit" value="connect">
			</div></p></sc>
			</form>


	</body>
	</html>