{% extends "layout.html" %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
</div>

<div class="row">
    <div class="col-lg-7">
        <div class="card shadow border-0 mb-4">
            <div class="card-body">
                <h5>Les 10 clients qui comptabilisent le plus de crédits antérieurs</h5>
                <div class="row">
                    <canvas class="mt-3 w-100" id="chart_top_10_nb_credit"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card shadow border-0 mb-4">
            <div class="card-body">
                <h5 class="mb-0">Répartition du sexe des clients</h5>
                <div class="row">
                    <canvas class="my-4 w-100" id="chart_genders"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card shadow border-0 mb-4">
    <div class="card-body">
        <div class="row">
            <canvas class="w-100" id="chart3" width="50" height="15"></canvas>
        </div>
    </div>
</div>

{% endblock %}

{% block graph %}

    (function () {
        'use strict'


        /*--- Graphique bar - Top 10 clients avec nombre de crédits ---*/

        var labels = "{{ labels }}".slice(0, -1).slice(1).split(',')
        var data = {{ data }}

        var myChart = new Chart(document.getElementById('chart_top_10_nb_credit'), {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: ['Nombre de crédits '],
                    data: data,
                    backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#795548", "#ff9800","#607d8b","#009688","#3f51b5"]
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                legend: { display: false },
                title: {
                    display: true,
                    position: 'bottom',
                    text: '(Affichage du champ SK_ID_CURR)'
                }
            }
        });

        /*--- Graphique pie - Répartition du nombre d'homme et de femme ---*/

        var myChart = new Chart(document.getElementById('chart_genders'), {
            type: 'pie',
            data: {
                labels: ["Homme ", "Femme "],
                datasets: [{
                    data: [{{ nb_client_homme }}, {{ nb_client_femme }}],
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.7)',
                        'rgba(255, 99, 132, 0.7)'
                    ]
                }]
            }
        });

        var ctx3 = document.getElementById('chart3')
        var myChart = new Chart(ctx3, {
            type: 'line',
            data: {
                labels: [0,10,20,30],
                datasets: [{
                    data: [60,85,106,4],
                    label: "#1",
                    borderColor: "#3e95cd",
                    fill: false
                }, {
                    data: [411,282,350,502],
                    label: "#2",
                    borderColor: "#8e5ea2",
                    fill: false
                }, {
                    data: [-4,78,302,24],
                    label: "#3",
                    borderColor: "#3cba9f",
                    fill: false
                }]
            }
        });
    })()

{% endblock %}