<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TP Home Credit Scoring</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#00C8AD">
    <div class="container">
        <a class="navbar-brand p-0" href="#">
            <img src="{{ url_for('static', filename='img/home-credit-logo.png') }}" alt="" height="50" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white border-bottom border-2 border-white pb-1 px-0 mx-2" aria-current="page" href="">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="">Liste des clients</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-4" style="width:300px" type="search" placeholder="Rechercher  un client...">
                <a class="btn btn-light" href="">Déconnexion <i class="fa fa-power-off"></i></a>
            </form>
        </div>
    </div>
</nav>

<div class="container mt-3">
    <h3 class="text-center">Test table home_credit_columns_description</h3>

    <table class="table table-bordered table-hover mt-4">
        <thead>
        <tr>
            <th>Id</th>
            <th>Fichier</th>
            <th>Variable</th>
            <th>Description</th>
            <th>Particularité</th>
        </tr>
        </thead>
        <tbody>
        {% for one_line in content.items %}
        <tr>
            <td>{{ one_line.field1 }}</td>
            <td>{{ one_line.Table }}</td>
            <td>{{ one_line.Row }}</td>
            <td>{{ one_line.Description }}</td>
            <td>{{ one_line.Special if one_line.Special is not none else '' }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="pagination mt-4 justify-content-center">
        {% if content.has_prev %}
        <li class="page-item mr-1"> <a class="page-link btn btn-sm" href="{{ url_for('homepage', page=content.prev_num) }}"><<</a></li>
        {% else %}
        <li class="page-item mr-1"><a class="page-link btn btn-sm disabled" href="#"><<</a></li>
        {% endif %}


        {% if content.has_next %}
        <li class="page-item ml-1"> <a class="page-link btn btn-sm" href="{{ url_for('homepage', page=content.next_num) }}">>></a></li>
        {% else %}
        <li class="page-item ml-1"><a class="page-link btn btn-sm disabled" href="#">>></a></li>
        {% endif %}
    </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>