{% extends "layout.html" %}

{% block content %}

{% if id_error is not none %}
    <div class="row justify-content-center pt-5 mb-2">
        <div class="col-auto">
            <div class="card text-white" style="background-color: #FF7490 !important;border-color:#FF7490">
                <div class="card-body shadow">
                    <div class="px-5">
                        <i class="fa fa-exclamation-circle"></i> Client N°{{ id_error }} not found. Please search in the below list.
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endif %}

<div class="pt-4">
    <div class="card shadow border-0">
        <div class="card-body">
            <div class="row justify-content-between mb-3">
                <div class="col-lg-3">
                    <small class="text-muted">{{ '{:,}'.format(nb_clients).replace(',', ' ') }} clients found in database</small>
                </div>
                <div class="col-auto">
                    <a href="{{ url_for('clients', base = 'train') }}" style="margin-right:10px">Base train</a>
                    <a href="{{ url_for('clients', base = 'test') }}" style="margin-left:10px">Base test</a>
                </div>
                <div class="col-lg-3" style="text-align:right">
                    <small class="text-muted">{{ per_page }} clients per page</small>
                </div>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th class="bg-light">SK_ID_CURR</th>
                    <th class="bg-light">Contract name</th>
                    <th class="bg-light">Gender</th>
                    <th class="bg-light">Age</th>
                    <th class="bg-light">Income type</th>
                    <th class="bg-light">Annual income</th>
                    <th class="bg-light"></th>
                </tr>
                </thead>
                <tbody>
                {% for client in clients.items %}
                <tr>
                    <td>N°{{ client.SK_ID_CURR }}</td>
                    <td>{{ client.NAME_CONTRACT_TYPE }}</td>
                    <td>{{ "Male" if client.CODE_GENDER == "M" else "Female" if client.CODE_GENDER == "F" else "Non renseigné" }}</td>
                    <td>{{ (client.DAYS_BIRTH / -365)|int }} years old</td>
                    <td>{{ client.NAME_INCOME_TYPE }}</td>
                    <td>${{ '{:,}'.format(client.AMT_INCOME_TOTAL) }}</td>
                    <td>
                    <a href="{{ url_for('get_client', id=client.SK_ID_CURR) }}" class="btn btn-outline-secondary btn-sm">
                    More data <i class="fa fa-chevron-right" style="margin-left:5px!important"></i>
                    </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul class="pagination mt-4 justify-content-center">
                {% if clients.has_prev %}
                  <li class="page-item" style="margin-right:10px">
                      <a class="page-link btn btn-sm" href="{{ url_for('clients', base = base, page=clients.prev_num) }}">
                          <i class="fa fa-angle-double-left"></i>
                      </a></li>
                {% else %}
                  <li class="page-item" style="margin-right:10px">
                      <a class="page-link btn btn-sm disabled" href="#">
                          <i class="fa fa-angle-double-left"></i>
                      </a>
                  </li>
                {% endif %}

                {% if clients.has_next %}
                  <li class="page-item" style="margin-left:10px">
                      <a class="page-link btn btn-sm" href="{{ url_for('clients', base = base, page=clients.next_num) }}">
                          <i class="fa fa-angle-double-right"></i>
                      </a>
                  </li>
                {% else %}
                  <li class="page-item" style="margin-left:10px">
                      <a class="page-link btn btn-sm disabled" href="#">
                          <i class="fa fa-angle-double-right"></i>
                      </a>
                  </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}