<!DOCTYPE html>
<html>
		<head>
			<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
			<meta charset="utf-8" />
			<title>Accueil Admin</title>
		</head>
		<body>

		<div>
		<center>
			<form action="{{ url_for('super_connex') }}", method="post" >
			<h1><ley>Y</ley><lbank>BANK</lbank> </h1>
				<input type="text" name="username" placeholder="Username" autocomplete="on"
				title="L'identifiant entre 3 et 8 caractères"><br><br>
				<br><input type="password" name="mdp" placeholder="Password"><br>

			<br>     <input type="submit" value="Connexion">
			<br><br><br><br><br><br><br> <a href="{{ url_for('accueil') }}">Back

			</form>
		</center>
		</div>

</body>
</html>