{% extends "layout.html" %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Temporary users list</h2> <h3> <a href = "{{ url_for('users') }}">Users list<a/></h3>
</div>

<div class="card shadow border-0">
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Mail</th>
                <th>Validate</th>
            </tr>
            </thead>
            <tbody>
            {% for user_temp in users_temp %}
            <tr>
                <td>{{ user_temp.ID }}</td>
                <td>{{ user_temp.username }}</td>
                <td>**********</td>
                <td>{{ user_temp.mail }} </td>
                <td>
                    <a href="{{ url_for('validate', id=user_temp.ID, username=user_temp.username, mdp=user_temp.mdp, mail=user_temp.mail) }}" class="btn btn-primary btn-sm mx-1">
                        Validate <i class="fa fa-check-circle" style="margin-left:5px!important"></i>
                    </a>
                    <a href="{{ url_for('refused', id=user_temp.ID) }}" class="btn btn-secondary btn-sm mx-1">
                        Refuse <i class="fa fa-times-circle" style="margin-left:5px!important"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}